:export {
    name: black;
    name_ch: 暗色;
    
    // color
    mainCol: #f2f2f2;

    // bg
    loginBg: black;
    mainBg: #333333;
    loginCenterBg: black;
    buttonBg: black;
    sideBg: black;

    // box-shadow
    loginCenterShadow: 0 0 40px 0px grey;
}